<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DFS</title>
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen">
        <script src="/js/jQuery-321.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
       <div class ="row">
        <nav class="navbar navbar-inverse navbar-fixed-top">
               <div class="container">
                <div class="navbar-header">
                       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                           <span class="sr-only">Toggle navigation</span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                     </button>
                     <a class="navbar-brand" href="#">DFS</a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                         <li><a href="/">Login</a></li>
                        <li><a href="/About">About</a></li>
                        <li><a href="/Legal">Legal</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <br>
    <br>
    <div class ="container-fluid">
        {{{body}}}
    </div>
    
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class ="navbar-brand" href="#">t</a>
            </div>
            <ul class="navbar-nav">
                <li><a href="#">Git</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>