<div class ="header">
    <ul>
        <li><div class="active"><a href="/">Dorm File Server</a></div><li>
        <li><div class="active"><a href="/About">About</a></div></li>
        <li><div class="active"><a href="/Legal">Legal</a></div></li>
    </ul>
</div>

This is a file server for the dorm simple as that