<div class ="header">
    <ul>
        <li><div class="active"><a href="/">Dorm File Server</a></div><li>
        <li><div class="active"><a href="/About">About</a></div></li>
        <li><div class="active"><a href="/Legal">Legal</a></div></li>
    </ul>
</div>

I take no responsibility for the content of the files uploaded! Pornographic content will be deleted!