
         <div class ="header">
            <ul>
                <li><div class="active"><a href="/">Dorm File Server</a></div><li>
                <li><div class="active"><a href="/About">About</a></div></li>
                <li><div class="active"><a href="/Legal">Legal</a></div></li>
            </ul>
        </div>
        
        <div class="error_box">
            {{#if errors}}
                {{#each errors}}
                    <div class="error">{{msg}}</div><br>
                {{/each}}
            {{/if}}

            {{#if loginerr}}
                <div class="error">{{loginerr}}</div><br>
            {{/if}}
        
            {{#if regerr}}
                <div class="error">{{regerr}}</div><br>
            {{/if}}
        </div>
        
        <h1>Login</h1>
        <form action = "http://127.0.0.1:8888/login_post" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <br>
                <input type = "text" name= "username" placeholder="username here">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <br>
                <input type = "password" name= "password" placeholder="password here">
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Submit" id="login_submit_input">
            </div>
        </form>
        
        <br>
        
        <h1>Registration</h1>
        <form action = "http://127.0.0.1:8888/registration_post" method="POST">
            
            <div class="form-group">
                <label for="username">Username</label>
                <br>
                <input type = "text" name = "username" placeholder="enter username here">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <br>
                <input type = "password" name = "password0" placeholder="enter password here">
            </div>

            <div class="form-group">
                <label for="password">Repeat Password</label>
                <br>
                <input type="password" name = "password1" placeholder="repeat password please">
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Submit" id="password_submit_input">
            </div>
        </form>