<div class ="header">
    <ul>
        <li><div class="active"><a href="/">Dorm File Server</a></div><li>
        <li><div class="active"><a href="/About">About</a></div></li>
        <li><div class="active"><a href="/Legal">Legal</a></div></li>
    </ul>
</div>

<h1>Welcome to shit FTP PETALUL</h1>
<br>
<div class="errorbox">
    {{#if uploaderr}}
        <div class="error">{{uploaderr}}</div>
    {{/if}}

    {{#if errors}}
        {{#each errors}}
            <div class="error">{{msg}}</div>
        {{/each}}
    {{/if}}
</div>
<br>
<div class="upload_container">
    Upload:<br>
    <form action="/file_upload" name="upload" method = "POST" enctype="multipart/form-data">
        <input type="file" name="file" size="50"><br>
        <input type="submit" value="Upload File">
    </form>
</div>

<br>
<script>
    function dl(data)
    {
        console.log(data);
        var xhr = new XMLHttpRequest();
        var url= "/download";
        var file_data = JSON.stringify({"filename":data});
        xhr.open("POST",url,true);
        xhr.setRequestHeader("Content-type","application/json");
        xhr.send(file_data);
        console.log("clicked");
    }
</script>

<script>
    function dwnl(fname,ftype)
    {
        console.log(fname);
        console.log(ftype);

        var xhr = new XMLHttpRequest();
        var url = "/download";
        var file_data = JSON.stringify({"filename":fname,"filetype":ftype});
        xhr.open("POST",url,true);
        xhr.setRequestHeader("Content-type","application/json");
        xhr.send(file_data);
    }
</script>


<div class = "file_container">
    <table>
        <tr>
            <th> filename </th>
            <th> filetype </th>
        </tr>
        {{#each s_files}}
        <tr>
            <td>{{fname}}</td>
            <td>{{ftype}}</td>
        </tr>
        {{/each}}
    </table>
</div>

