.login-0-row
{
    background-color: darkblue;
    color:white;
}

.login-1-row
{
    background-color: #5d00c2;
    color:white;
}

.login-error-row
{
    background-color:#a90006;
}

.login-2-row
{
    background-color:darkblue;
    color:white;
}